.demo {
    width: 320px;
    margin: 10px auto 20px auto;
    min-height: 300px;
}

.msg {
    text-align: center;
    height: 32px;
    line-height: 32px;
    font-weight: bold;
    margin-top: 50px;
}

.top_title {
    text-align: center;
}
